@import "compass";
@import "compass/reset";
@import url(https://fonts.googleapis.com/css?family=Titillium+Web);
$baseColor: #00c1d7;
$baseColorDarkened: darken($baseColor, 10%);
$baseFontFamily: 'Titillium Web', Verdana;

body{
		margin: 0;
		padding: 30px;
		background-color: #FF4000;
}

button{
		 height: 50px;
		 width: 80px;
		 background-color: #E0F8F7;
}

#container {
	z-index: 5;
	position: absolute;
}


/* this code is to set the canvas to the top left*/
#c {
	position: absolute;
	top: 0;
	left: 0;
}
